
@font-face {
  font-family: 'manrope';
  src: url('../../assets/fonts/manrope.ttf');
}
@font-face {
  font-family: 'cascadia-code';
  src: url('../../assets/fonts/cascadia-code.ttf');
}

$mini-tab: 500px;
$tab: 700px;
$big-tab: 900px;
$desktop: 1100px;

:root {
  --sp: clamp(20px, 5dvw, 10%);
  --txt: #121212;
  --bg: beige;
  --medium: #ccc;
  --tl: teal;

  --error: crimson;
  --correct: goldenrod;
  --active: blue;
}

@mixin df($j: normal, $a: normal, $fl: row, $g: 0) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-flow: $fl;
  gap: $g;
}
@mixin btn($c: var(--txt), $bg:var(--bg)){
  cursor: pointer;
  background: $bg;
  color: $c;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all .3s;
  text-align: center;
  @include df(center, center, row, 10px);
  &:hover {
    background: $c;
    border-color: $c;
    color: #fff;
  }
}
@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'cascadia-code', monospace;
}

.loader {
  position: fixed;
  z-index: 8;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: var(--bg);
  display: none;
  &.active {
    @include df(center, center, column, 10px);
  }
  svg {
    width: 50px;
  }
}

header {
  padding: 20px var(--sp);
  background: var(--bg);
  border-bottom: 1px solid var(--medium);
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  @include df(normal, normal);
  .wrapper {
    width: 100%;
    @include df(space-between, center, row, 10px);
    @media (min-width: $desktop) {
      max-width: $desktop;
      margin: 0 auto;
    }
  }
  .logo {
    @include df(normal, start, column);
  }
  #ch {
    display: none;
  }
  .overlay {
    position: fixed;
    z-index: 6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s;
    transform: translateY(100%);
    background: rgba(#000,.3);
  }
  .hamburger {
    transition: all .5s;
    @include df(normal, normal, column, 4px);
    span {
      width: 25px;
      height: 4px;
      background: #121212;
    }
  }
  nav {
    padding: 20px var(--sp);
    position: fixed;
    z-index: 7;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: all .5s;
    background: var(--txt);
    color: var(--bg);
    @include df(normal, flex-end, column, 20px);
    .close {
      width: 30px;
      height: 30px;
      position: relative;
      transition: all .3s;
      @include df(center, center);
      &:hover {
        background: rgba(#ccc, .3);
      }
      span {
        width: 25px;
        height: 3px;
        background: var(--bg);
        position: absolute;
        transform: rotate(45deg);
        &:nth-of-type(2) {
          transform: rotate(-45deg);
        }
      }
    }
    ul {
      align-self: start;
      @include df(normal, start, column, 20px);
      li {
        @include df(normal, start, column, 20px);
        a {
          @include btn();
        }
      }
    }
  }
  #ch:checked {
    ~ nav {
      transform: translateY(0);
    }
    ~ .hamburger {
      opacity: 0;
    }
    ~ .overlay{
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media (min-width: $big-tab) {
    .overlay,.hamburger {
      display: none;
    }
    nav {
      padding: 0;
      position: static;
      transform: translateY(0);
      transition: all .5s;
      background: transparent;
      color: var(--bg);
      @include df(right, center, row, 20px);
      .close {
        display: none;
      }
      ul {
        @include df(right, center, row, 10px);
        li {
          &:not(:last-of-type) {
            border-right: 2px solid var(--txt);
            padding-right: 10px;
          }
          a {
            font-size: 14px;
            padding: 0;
            border: none;
            &:hover {
              color: var(--tl);
              background: transparent;
            }
          }
        }
      }
    }
  }
}

main {
  padding-top: 100px;
}

form.input {
  padding: 20px var(--sp);
  border-bottom: 1px solid var(--medium);
  @include df(normal, normal, column, 20px);
  @media (min-width: $desktop) {
    padding: 20px 0;
    max-width: $desktop;
    margin: 0 auto;
  }
  @media (min-width: $tab) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .price,.links {
      grid-column: 1/-1;
    }
  }
  .group {
    @include df(normal, normal, column, 5px);
    .field {
      position: relative;
      @include df(normal, normal, column);
      label {
        position: absolute;
        top: 0;
        background: #fff;
        padding: 0 5px;
        left: 15px;
        transform: translateY(-50%);
        font-size: 13px;
        font-weight: 700;
        text-transform: capitalize;
      }
      input {
        width: 100%;
        padding: 20px 20px 15px 20px;
        font: inherit;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: none;
        border: 1px solid;
        outline: none;
        &:focus {
          border-color: green;
        }
      }
    }
    .error-m {
      opacity: 0;
      font-size: 13px;
      font-weight: 600;
      transition: all .3s;
      @include df(normal, center, row, 10px);
      &::before {
        content: '!';
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;
        background: var(--bg);
        border: 1px solid;
        border-radius: 50%;
        font-weight: 600;
        @include df(center, center);
      }
    }
    &:focus-within {
      .field {
        label {
          color: green;
        }
      }
      .error {
        color: green;
      }
    }
    &.error {
      .field {
        input {
          border-color: crimson;
        }
        label {
          color: crimson;
        }
      }
      .error-m {
        opacity: 1;
        color: crimson;
        &::before {
          background: rgba(crimson,.1);
        }
      }
    }
  }
  .links {
    width: 100%;
    @include df(normal, normal, row wrap, 15px);
    >* {
      min-width: 200px;
      @include btn;
    }
    button:first-of-type {
      flex: 1;
    }
    button:last-of-type {
      flex: 2;
    }
  }
}
.carts {
  @include df(normal, normal, column, 20px);
  @media (min-width: $mini-tab) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .cart {
    padding: 20px var(--sp);
    @include df(normal, normal, column, 20px);
    .header {
      @include df(space-between, center, row, 20px);
      .cart-tools {
        @include df(normal, normal, row, 15px);
        button {
          @include btn;
        }
      }
    }
  }
  @media (min-width: $desktop) {
    width: 100%;
    max-width: $desktop;
    margin: 0 auto;
    .cart {
      padding: 20px 0;
    }
  }
}
table {
  font-size: 15px;
  border-collapse: collapse;
  thead {
    border: 1px solid;
    text-transform: uppercase;
    text-align: left;
  }
  tbody {
    counter-reset: table;
    tr {
      counter-increment: table;
      td:nth-of-type(1) {
        &::before {
          content: counter(table);
        }
      }
      td:nth-of-type(5) {
        cursor: pointer;
        background: var(--bg);
        @include df(center, center);
      }
    }
    td:nth-of-type(3) {
      font-weight: 700;
    }
  }
  td,th {
    border: 1px solid;
    padding: 10px;
  }
}
.modal-popup {
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px var(--sp);
  @include df(center, center);
  .overlay {
    background: rgba(#000,.3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }
  .modal {
    border: 1px solid;
    position: relative;
    z-index: 1;
    background: #fff;
    width: 100%;
    max-width: $mini-tab;
    padding: 30px;
    @include df(normal, normal, column, 20px);
    &__header {
      @include df(space-between, center, row, 10px);
      button {
        @include btn;
      }
    }
    &__body {
      @include df(normal, normal, column, 15px);
      &__input {
        @include df(normal, normal, column, 10px);
        .field {
          position: relative;
          @include df(normal, normal, column);
          label {
            position: absolute;
            top: 0;
            left: 15px;
            background: #fff;
            transform: translateY(-50%);
            padding: 0 5px;
            text-transform: capitalize;
          }
          input {
            padding: 20px 20px 15px 15px;
            font: inherit;
            font-weight: bold;
            font-size: 1.5rem;
            border: 1px solid;
          }
        }
        .error-msg {
          @include df(normal, center, row, 5px);
          &::before {
            content: '!';
            width: 25px;
            height: 25px;
            border: 1px solid;
            border-radius: 50%;
            @include df(center, center);
          }
        }
      }
    }
    &__footer {
      @include df(space-beetween, normal, row, 10px);
      button {
        flex: 1;
        text-transform: capitalize;
        @include btn;
      }
    }
  }
}

.footer {
  margin-top: 50px;
  padding: 20px var(--sp);
  border-top: 1px solid var(--medium);
  background: var(--bg);
  @include df(center, center);
  &__content {
    width: 100%;
    @include df(center, center, column, 10px);
    p {
      @include df(center, center, column, 5px);
      a {
        @include btn;
        & {
          background: #fff;
        }
      }
    }
  }
}
